// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susy";
@import "reset";
@import "fontawesome";
@import "tooltip";

// ---------------------------------------------------------------------------

// Compass Variables
@include establish-baseline(14px);

// Basic Grid
$total-columns  : 12;
$column-width   : 3.73em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$legacy-support-for-ie  : false;
$legacy-support-for-ie6 : $legacy-support-for-ie;
$legacy-support-for-ie7 : $legacy-support-for-ie;
$breakpoint-ie-output: false;

$show-grid-backgrounds  : true;

// colors
// black white
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #64707e !default;
$grayLight:             #999 !default;
$grayccc: 							#ccc !default;
$grayLighter:           #bec3c7 !default;
$whiteDarker:						#e9e9e9 !default;
$whiteDark:							#ecf0f1 !default;
$white:                 #fff !default;

// Accent colors
$blue:                  #2d8ce4 !default;
$blueDark:              #3a5679 !default;
$orange:                #d25400 !default;
$green:                 #1bbc9b !default;
$red:                   #c1392b !default;
$yellow:                #f1c40f !default;
$pink:                  #e3007a !default;
$lightpurple:           #653c7f !default;
$purple:                #5b2f77 !default;

// custom fonts
@include font-face("FontAwesome", inline-font-files("fontawesome-webfont.woff", woff), "fontawesome-webfont.eot", normal, normal);
@include font-face("vistasansaltXbook", inline-font-files("vistasansaltx_book-webfont.woff", woff), "vistasansaltx_book-webfont.eot", normal, normal);
@include font-face("vistasansaltXbold", inline-font-files("vistasansaltx_bold-webfont.woff", woff), "vistasansaltx_bold-webfont.eot", normal, normal);
@include font-face("vistasansaltXmed", inline-font-files("vistasansaltx_med-webfont.woff", woff), "vistasansaltx_med-webfont.eot", normal, normal);
@include font-face("PTsans", inline-font-files("pts55f-webfont.woff", woff), "pts55f-webfont.eot", normal, normal);

// clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
