// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;
}

%blocklink {display: block; width: 100%; height: 100%;}
.vistasansaltXbook {font-family: "vistasansaltXbook", sans-serif;}
.vistasansaltXbold {font-family: "vistasansaltXbold", sans-serif;}
.vistasansaltXmed {font-family: "vistasansaltXmed", sans-serif;}
.PTsans {font-family: "PTsans", sans-serif;}
.hide {display: none;}
.posabs {position: absolute;}
.posrel {position: relative;}
.flr {float: right;}
.fll {float: left;}

body {background: image_url("bodybg.jpg") center top;}
.wrapper {
	padding-top: 1em; padding-bottom: 1em; margin-top: 3em; background: rgba(194,196,198, .6);
	.no-opacity & {background: #c2c4c6;}
}

.header {@include span-columns(12 omega, 12); min-height: 118px; background: image_url("headerbg.png") no-repeat center top;}
.logo {
	margin: 0;
	a {display: block; width: 220px; height: 45px; background: image_url("logo.png") no-repeat center center; padding: 36px 45px; text-indent: -99em;}
}
.howtouse {
	width: 690px; float: left; margin: 0 1% 0 6px; padding: 7% 5%; background: rgba(255,255,255, .5); @include transition-property(all); @include transition-duration(1s);
	.no-opacity & {background: #fff;}
	.cf {background: image_url("minimaps.png") no-repeat 95% top;}
	.vistasansaltXbook, .vistasansaltXbold {@include span-columns(8,12); color: $blueDark; font-size: 18px;}
	.vistasansaltXbold {color: $blue;}
	&.butsmaller {padding: 1% 5%;}
	&.butsmaller .cf {background: image_url("minimaps_smaller.png") no-repeat right center;}
	&.butsmaller .vistasansaltXbook, &.butsmaller .vistasansaltXbold  {@include span-columns(10,12); font-size: 14px;}
	&.butsmaller .vistasansaltXbook  {margin-bottom: 0;}
}

.nearestshop {width: 659px; float: left; margin: 0 1% 0 6px; padding: 2.3% 5% 2.3% 9%; background: image_url("icons_sprite.png") no-repeat 40px 25px #f5f5f5; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; color: #777e84;}
#instructions {padding: 0; list-style: none; clear: both; color: #777e84;}
#instructions li {padding: 4px 16px;}
#instructions li:nth-child(odd) {background: #f5f5f5;}

.tabspace {width: 721px; float: left; margin: 0 1% 0 6px; padding: 3%; background: $white; box-shadow: 0 1px 1px rgba(0,0,0,.1); border-bottom: 1px solid #ccc; min-height: 240px;}

.form-elements {
	$total-columns  : 10;
	$column-width   : 4em;
	$gutter-width   : 1em;
	$grid-padding   : 0;
	@include container;
}

.form-post-code {
	@include span-columns(3, 10);
	.form-elements-mini & {float: left; width: 40%;}
}
.form-city, .form-filter-by {
	@include span-columns(7 omega, 10);
	.form-elements-mini & {float: left; width: 55%;}
}
.form-street-name {@include span-columns(10 omega, 10); margin-top: 1em; margin-bottom: 1em;}
.form-search-radius {@include span-columns(3, 10);}

.label-top {display: block; width: 100%; color: $gray; font-size: 15px; line-height: 42px;}
.tooltipy {color: $blue; font-style: normal;}
.input-bottom {display: block; max-width: 100%; background: $white; padding: 2px 3px; line-height: 32px; border: 1px solid #d5d4d4; box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 3px 3px #f7f7f7; border-radius: 3px;}
.yayinput {width: 100%;}
.selectbg {
	display: block; background: image_url("selectbg.png") no-repeat left top; height: 32px;
   overflow: hidden; 
  select { background: transparent; width: 120%; padding: 0; font-size: 14px; line-height: 1; border: 0; border-radius: 0; height: 28px; -webkit-appearance: none; overflow: hidden;}
}
.inline-checkbox, .inline-radio {
	display: inline-block; min-height: 20px; padding-left: 20px; padding-top: 5px; margin: 0 4px 0 0; vertical-align: middle; line-height: 20px; color: #777e84; white-space: nowrap; cursor: pointer;
	input {float: left; margin: 2px 0 0 -16px; line-height: normal; width: auto; border: 1px solid #d5d4d4; box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 3px 3px #f7f7f7; border-radius: 3px; vertical-align: middle;}
}
.btn {display: inline-block; padding: 10px 25px; text-align: center; @include background-image(linear-gradient(#4d94d9, #2e73b7)); border-radius: 19px; box-shadow: 0 5px 1px #1e5283,  0 3px 6px 6px #e1e1e1; text-shadow: 0 -1px 0 rgba(0,0,0,0.3); border: 0; color: $white; @include transition-property(opacity); @include transition-duration(.3s); -webkit-transform:translate3d(0,0,0);
	.no-cssgradients &, &:hover, &:active {background: #2e73b7;}
	.submit-group & {float: right;}
}
.mini-btn {display: inline-block; float: right; color: $blue; font-size: 11px; line-height: 18px; border: 0; border-bottom: 1px solid $blue; background: transparent; padding: 0; margin-right: 16px;}
.submit-group {clear: both; padding: 1em 0;}

#tabs, #tabs_href {@include span-columns(10 omega, 10); list-style: none; margin: 0; padding: 0;}
#tabs {
	margin-bottom: -3px;
	li {display: inline-block; float: left; border: 1px solid #e3e3e3; padding: 10px 15px;}
	li+li {border-left: 0;}
	.active {position: relative; border-bottom: 3px solid $blue; top: -2px;}
	a {text-decoration: none; color: #a7a8a9;}
	a:hover {color: $blue;}
	.active span {display: inline-block; background: $blue; color: $white; padding: 0 12px; border-radius: 12px;}
}

#mapcarte {height: 315px; background: $white;}

.context {
	table {font-size: 12px; width: 100%; color: #777e84;}
	td, th {height: 60px; border: 1px solid #ccc; padding-left: 20px; box-shadow: inset 0 0 1px 1px #fff}
	tr:nth-child(odd) {background: $white;}
	tr:nth-child(even), thead tr:nth-child(odd) {background: #f5f5f5;}
	a {color: $blue;text-decoration: none;}
}

.print {display: inline-block; background: image_url("icons_sprite.png") no-repeat left -287px; color: $blue; float: left; padding-left: 36px;}
.searchagain {
	display: inline-block; float: right; color: $blue;
	#tabs & {color: $blue; padding: 12px 4px 0 0;}
}

.addresspopup {
	display: block; margin: 0; background: image_url("minibar.png") no-repeat left top; padding-left: 32px; min-height: 48px; line-height: 20px; font-size: 11px!important; white-space: normal; color: #777e84;
	p, h3 {margin: 0;}
	.bolder {font-weight: 700;}
	.popuplink {color: #ea3240;}
}

.form-elements-mini {
	padding: 4px; width: 225px; float: left; border: 1px solid #e3e3e3;
	&>div, label {font-size: 12px;}
	.input-bottom {max-width: 86%;}
	.form-filter-by {width: 96%; background: #f5f5f5; padding: 0 0 4% 6%; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; margin-left: -1%;}
	.form-street-name {margin-right: -3%;}
	.form-street-name input {max-width: 89%;}
	.form-post-code {margin-left: 2%;}
	.narrowed {line-height: 32px; width: auto;}
}
#maproute, #instructions {width: 483px; float: right; height: 349px; background: $white; border: 1px solid #e3e3e3; border-left: 0; padding: 1px;
	.no-borderradius & {width: 477px;}
}
#instructions.sticktomap {display: block; position: absolute; z-index: 9876; right: 0; top: 0; background: $white; overflow-y: auto; overflow-x: hidden;}
.subtext {
	font-weight: 700;
	span {width: 40%; padding: 0 5%; text-align: right;}
	.fll {text-align: left;}
}
.lightertext {font-weight: 400;}

.footer {
	width: 690px; float: left; margin: 0 1% 0 6px; padding: 1% 0% 1% 10%; text-align: right;
	li {float: right; width: 30px; height: 30px; margin-right: 12px; list-style: none;}
	a {@extend %blocklink; background: image_url("icons_sprite.png") no-repeat -88px -108px; font-size: 0; line-height: 0;}
	.youtube a {background-position: -128px -108px;}
	.vimeo {margin-right: 0;}
	.vimeo a {background-position: -168px -108px;}
}